{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EmCali</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="{% static 'libraries/jquery-3.7.1/jquery-3.7.1.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<style>
 .btn-logout {
    display: none; /* Oculta inicialmente el botón */
    animation: fadeInDown 0.5s forwards; /* Animación al mostrarse */
}

/* Muestra el botón de Cerrar Sesión cuando el usuario está autenticado */
ul li:last-child {
    display: block; /* Asegúrate de que el botón esté en bloque */
}

/* Animación para el botón */
@keyframes fadeInDown {
    from {
        opacity: 0; /* Comienza invisible */
        transform: translateY(-20px); /* Comienza un poco más arriba */
    }
    to {
        opacity: 1; /* Termina visible */
        transform: translateY(0); /* Regresa a su posición original */
    }
}
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-custom fixed-top shadow-sm">
        <div class="container d-flex flex-column h-100">
            <div class="row w-100">
                <!-- Traer el usuario de la BD logueado -->
                <div class="col-12 col-md-3 d-flex align-items-center" style="cursor: pointer;">
                    <img src="{% static 'img/Login.png' %}" alt="Login" class="logo img-fluid">
                    <ul class="list-unstyled mb-0 ml-3 d-flex align-items-center flex-column"> <!-- Cambiado para alinear verticalmente -->
                        {% if user.is_authenticated %}
                        <li class="mr-3">{{ user.username }}</li>
                        <li class="mr-3 mt-2">
                            <a href="{% url 'cerrarSesion' %}" class="btn btn-danger btn-logout">Cerrar Sesión</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
    
                <!-- Opciones del menú -->
                <div class="col-12 col-md-9 d-flex flex-column button-container">
                    <div class="mt-auto">
                        <a href="{% url 'dashboard' %}" class="btn btn-success btn-custom mb-2">
                            <span class="glyphicon glyphicon-log-in"></span> Inicio
                        </a>
                        <a href="{% url 'group_list' %}" class="btn btn-success btn-custom mb-2">
                            <span class="glyphicon glyphicon-log-in"></span> Perfil
                        </a>
                        <a href="{% url 'group_list' %}" class="btn btn-success btn-custom mb-2">
                            <span class="glyphicon glyphicon-log-in"></span> Ayuda
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    
    

    <section style="display: flex;">
        <div class="col-md-2">
            <div class="sidebar" id="menu">

                <!-- Opción del menú -->
                <div class="menu-item">
                    <a href="{% url 'registrar' %}"
                        class="btn btn-block {% if request.resolver_match.url_name == 'registrar' %}btn-info{% else %}btn-success{% endif %}"
                        data-toggle="modal" data-target="#registerModal">
                        <i class="fas fa-user-plus mr-2"></i> Registrar Usuario
                    </a>
                </div>
                <!-- Opción del menú -->
                <div class="menu-item">
                    <button style="background: #F8F9FA; border: none; color: #949090;" type="button"
                        class="btn btn-block {% if request.resolver_match.url_name == 'create_group' %}btn-info{% else %}btn-primary{% endif %}"
                        data-toggle="modal" data-target="#createGroupModal">
                        <i class="fas fa-users mr-2"></i> Crear Grupo
                    </button>
                </div>
                <!-- Opción del menú -->
                <div class="menu-item">
                    <a href="{% url 'group_list' %}"
                        class="btn btn-block {% if request.resolver_match.url_name == 'group_list' %}btn-info{% else %}btn-success{% endif %}">
                        <i class="fas fa-list mr-2"></i> Ver Grupos
                    </a>
                </div>
                <!-- Opción del menú -->
                <div class="menu-item">
                    <a href="{% url 'user_list' %}"
                        class="btn btn-block {% if request.resolver_match.url_name == 'user_list' %}btn-info{% else %}btn-success{% endif %}">
                        <i class="fas fa-users mr-2"></i> Ver Usuarios
                    </a>
                </div>
                <!-- Opción del menú -->
                <div class="menu-item">
                    <a href="{% url 'mapas' %}"
                        class="btn btn-block {% if request.resolver_match.url_name == 'mapas' %}btn-info{% else %}btn-success{% endif %}">
                        <i class="fas fa-solid fa-map-location-dot mr-2"></i> Ver Mapa
                    </a>
                </div>
                <div class="menu-item">
                    <a href="{% url 'luminaria_view' %}"
                        class="btn btn-block {% if request.resolver_match.url_name == 'luminaria_view' %}btn-info{% else %}btn-success{% endif %}">
                        <i class="fas fa-solid fa-map-location-dot mr-2"></i> Luminarias
                    </a>
                </div>




                <!-- Logo -->
                <div class="text-center mt-4"> 
                    <img src="{% static 'img/Logo.jpg' %}" alt="Logo" class="img-fluid" style="max-width: 70%;" >
                </div>
            </div>
        </div>

        <div class="col-md-10" style="margin-top: 7%;">
            {% block content3 %}
            {% endblock %}
        </div>
    </section>

    <!--Modal creacion de grupo-->
    <div class="modal fade" id="createGroupModal" tabindex="-1" aria-labelledby="createGroupModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createGroupModalLabel">Crear Grupo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="createGroupForm" method="post" action="{% url 'crear-grupo' %}">
                        {% csrf_token %}
                        {{ form_crearGroups.as_p }}
                        <button type="submit" class="btn btn-primary">Crear</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Modal registro usuario-->
    <div class="modal fade" {% if modal_opened %} style="display: block;" {% endif %} id="registerModal" tabindex="-1"
        aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalLabel">Registrar Usuario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'registrar' %}">
                        {% csrf_token %}
                        {{ form_registroUsu.as_p }}
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!---Manejo de mensajes del estado de las peticiones-->
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Éxito',
            text: '{{ message }}',
            showConfirmButton: false,
            timer: 2000
        });
    </script>
    {% elif message.tags == 'error' %}
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: '{{ message }}'
        });
    </script>
    {% elif request.GET.error %}
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: '{{ request.GET.error }}'
        }); 
    </script>
    {% elif message.tags == 'warning' %}
    <script>
        Swal.fire({
            icon: 'warning',
            title: 'Advertencia',
            text: '{{ message }}'
        }); 
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}

    <script>
        $(document).ready(function () {
            $('#createGroupForm').submit(function (event) {
                event.preventDefault();
                var form = $(this);
                $.ajax({
                    type: form.attr('method'),
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function (response) {
                        if (response.status === 'ok') {
                            $('#createGroupModal').modal('hide');
                            alert('Grupo creado exitosamente');
                        } else {
                            console.log(response.errors);
                        }
                    }
                });
            });
            $('.col-12.col-md-3.d-flex.align-items-center').on('click', function () {
                $(this).toggleClass('active');
                $('.btn-logout').show();
                setTimeout(function () {
                    $('.btn-logout').hide();
                    $('.col-12.col-md-3.d-flex.align-items-center').removeClass('active');
                }, 5000);
            });
            $('#deleteUserForm').submit(function (event) {
                event.preventDefault();
                var userId = $(this).data('user-id');
                var form = $(this);
                var csrfToken = form.find('input[name="csrfmiddlewaretoken"]').val();

                $.ajax({
                    type: 'POST',
                    url: form.attr('action'),
                    data: {
                        csrfmiddlewaretoken: csrfToken,
                        user_id: userId
                    },
                    success: function (response) {
                        if (response.status === 'success') {
                            $('#successMessage').text(response.message).show();
                            $('#userRow_' + response.user_id).remove();
                        } else {
                            $('#successMessage').text('Ocurrió un error. Intenta de nuevo.').show();
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Ocurrió un error: ", error);
                        $('#successMessage').text('Ocurrió un error. Intenta de nuevo.').show();
                    }
                });
            });

            $('#cancelButton').click(function (event) {
                event.preventDefault();
                window.history.back();
            });

        });

        //funcion para verificar el estado de la sesion
        function checkSessionStatus() {
            fetch("{% url 'check_session' %}")  // Asume que la URL se ha llamado 'check_session'
                .then(response => response.json())
                .then(data => {
                    if (data.session_expired) {
                        showSessionExpiredModal();
                    }
                })
                .catch(error => console.error('Error:', error));
        }


        setInterval(checkSessionStatus, 5000);

        // Función para mostrar el modal cuando la sesión expire usando Bootstrap
        function showSessionExpiredModal() {
            // Aquí se configura el modal utilizando el formato de Bootstrap 5
            const modalHtml = `
            <div class="modal fade" id="sessionExpiredModal" tabindex="-1" aria-labelledby="sessionExpiredLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered"> <!-- Agregar modal-dialog-centered para centrarlo verticalmente -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="sessionExpiredLabel">Sesión Expirada</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                        </div>
                        <div class="modal-body">
                            <p class="text-center">Tu sesión ha expirado. Por favor, inicia sesión nuevamente.</p> <!-- Centrar texto -->
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'index' %}" class="btn btn-primary">Volver al inicio de sesión</a>
                        </div>
                    </div>
                </div>
            </div>
        `;

            // Insertar el modal en el body del documento
            document.body.insertAdjacentHTML('beforeend', modalHtml);

            // Inicializar y mostrar el modal de Bootstrap
            const sessionModal = new bootstrap.Modal(document.getElementById('sessionExpiredModal'));
            sessionModal.show();
        }

        


    </script>

</body>

<!-- Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'libraries/jquery-3.7.1/jquery-3.7.1.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>