{% extends 'dashboard.html' %}

{% block content3 %}

<div class="container">
    <h1>Lista de Roles</h1>
    {% if user.is_authenticated %}

    <table class="table table-striped" id="users-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
            <tr id="group-{{ group.id }}">
                <td>{{ group.id }}</td>
                <td>{{ group.name }}</td>
                <td> 
                    <!-- Botón de eliminación -->
                    <button class="btn btn-danger delete-button" data-group-id="{{ group.id }}" data-toggle="modal"
                        data-target="#deleteModal{{ group.id }}">Eliminar</button>
                </td>
            </tr>
            <!-- Modal de eliminación -->
            <div class="modal fade" id="deleteModal{{ group.id }}" tabindex="-1" role="dialog"
                aria-labelledby="deleteModalLabel{{ group.id }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel{{ group.name }}">Confirmar Eliminación</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ¿Estás seguro de que quieres eliminar el grupo {{ group.name }} (ID: {{ group.id }})?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-danger confirm-delete" data-group-id="{{ group.id }}">
                                Eliminar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <p>Debes estar logueado para ver esta página.</p>
    {% endif %}
</div>

<script>
    // Función para obtener el token CSRF
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    // Token CSRF
    const csrftoken = getCookie('csrftoken');

    $(document).ready(function () {
        $('.confirm-delete').click(function (event) {
            event.preventDefault();
            var groupIdToDelete = $(this).data('group-id');  // Cambiado a 'group-id'
            var url = '/eliminar_grupo/' + groupIdToDelete + '/';  // Construye la URL dinámica

            $.ajax({
                type: 'POST',
                url: url,
                headers: {
                    'X-CSRFToken': csrftoken
                },
                success: function (response) {
                    if (response.success) {
                        $('#group-' + groupIdToDelete).remove();  // Elimina la fila de la tabla
                        $('#deleteModal' + groupIdToDelete).modal('hide');
                        Swal.fire({
                            icon: 'success',
                            title: 'Éxito',
                            text: 'Grupo eliminado correctamente',
                            showConfirmButton: false,
                            timer: 2000
                        });  // Cierra el modal
                    } else {
                        alert('Error: No se pudo eliminar el grupo.');
                    }
                },
                error: function (xhr, errmsg, err) {
                    alert('Error: ' + errmsg);
                }
            });
        });
    });
</script>

{% endblock %}
