{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EmCali</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="{% static 'libraries/jquery-3.7.1/jquery-3.7.1.min.js' %}"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<style>
   
</style>

<body cz-shortcut-listen="false">
    <div class="contenedor">
        <div class="forms-container">
            <div class="signin-signup">  
                <form id="loginForm" action="{% url 'iniciarSesion' %}" method="post" class="sign-in-form">
                    <div class="text-center mb-4">
                        <img src="{% static 'img/logo.jpg' %}" alt="Descripción de la imagen" class="img-fluid" style="max-width: 200px;">
                    </div>
                    <h2 class="title">Iniciar Sesi&oacute;n</h2>
                    {% csrf_token %}
                    <div id="msg"></div> <!-- Contenedor para los mensajes -->
                    <div class="input-field">
                        <i class="fas fa-user"></i>
                        <input type="text" name="usuario" required placeholder="Usuario" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="contraseña" required placeholder="Contraseña" />
                    </div>
        
                    <button type="submit" class="btn solid">Validar</button>
                    <p class="social-text">Síguenos en nuestras redes sociales</p>
                    <div class="social-media">
                        <a href="#" class="social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </form>
                
                <form action="#" class="sign-up-form">
                    <h2 class="title">Déjanos tu comentario</h2>
                    <div class="input-field-coment">
                        <i class="fas fa-user"></i>
                        <textarea class="textarea" placeholder="Escribe tu sugerencia aquí"></textarea>
                    </div>
                    <input type="submit" class="btn" value="Enviar" />
                    <p class="social-text">Síguenos en nuestras redes sociales</p>
                    <div class="social-media">
                        <a href="#" class="social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#" class="social-icon">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
        

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>¿Quienes somos?</h3>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
                        ex ratione. Aliquid!
                    </p>
                    <button class="btn transparent" id="sign-up-btn">
                        ver más
                    </button>
                </div>
                <img src="{% static 'img/imagen.svg' %}" class="image" alt="" />
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h1><strong>¡Estamos comprometidos con brindarte un mejor servicio!</strong></h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                        laboriosam ad deleniti.
                    </p>
                    <button class="btn transparent" id="sign-in-btn">
                        Iniciar Sesi&oacute;n
                    </button>
                </div>
                <img src="{% static 'img/imagen.svg' %}" class="image" alt="" />
            </div>
        </div>
    </div>

    <div class="wrap" id="loading-message" style="display: none;">
        <div class="loading">
            <div class="bounceball"></div>
            <div class="text">CARGANDO..</div>
        </div>
    </div>

    <script src="{% static 'js/app.js' %}"></script>

    <!-- Notificación flotante -->
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Éxito',
            text: '{{ message }}',
            showConfirmButton: false,
            timer: 2000
        });
    </script>
    {% elif message.tags == 'error' %}
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: '{{ message }}'
        });
    </script>
    {% elif request.GET.error %}
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: '{{ request.GET.error }}'
        }); 
    </script>
    {% elif message.tags == 'warning' %}
    <script>
        Swal.fire({
            icon: 'warning',
            title: 'Advertencia',
            text: '{{ message }}'
        }); 
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}

    <!-- Manejo de formulario con AJAX -->
    <script>
        $(document).ready(function () {
            $('#loginForm').on('submit', function (event) {
                event.preventDefault(); // Evita el envío inmediato del formulario

                var formData = $(this).serialize(); // Obtiene los datos del formulario
                formData += `&csrfmiddlewaretoken=${getCookie('csrftoken')}`; // Añade el token CSRF a los datos

                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            $('#loading-message').css('display', 'block'); // Muestra el preloader

                            setTimeout(() => {
                                window.location.href = '/mapas'; // Redirige al dashboard después de unos segundos
                            }, 1000); // Cambia el valor para ajustar el tiempo de retraso en milisegundos
                        } else {
                            $('#msg').html(`<div class="alert alert-danger">${response.message}</div>`); // Muestra el mensaje de error
                            setTimeout(() => {
                                $('#msg').fadeOut('slow', function () {
                                    $(this).empty().show(); // Oculta el mensaje después de 3 segundos y limpia el contenedor
                                });
                            }, 3000); // Cambia el valor para ajustar el tiempo de visualización en milisegundos
                        }
                    },
                    error: function (xhr, errmsg, err) {
                        alert('Error: ' + errmsg);
                    }
                });
            });

            // Función para obtener el token CSRF de las cookies
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        });

    </script>

    <!-- Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="{% static 'libraries/jquery-3.7.1/jquery-3.7.1.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>