{% extends "dashboard.html" %}
{% block content3 %}

<head>
    <title>Luminarias</title>
    <style>
        .chart-container {
            width: 100%;
            margin-top: 5px;
            display: flex;
            justify-content: space-around;
        }

        .title {
            margin-top: -30px;
        }

        .chart-container .chart {
            width: 48%;
            height: 300px;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            padding: 20px;
        }

        .modal-content {
            border-radius: 10px;
        }

        .btn-primary {
            border-radius: 20px;
        }

        .modal-header {
            background-color: #007bff;
            color: white;
            border-bottom: none;
        }

        .modal-footer {
            border-top: none;
        }

        .text-font {
            font-size: 30px;
            margin: 0;
        }

        .card-title {
            font-size: 20px;
        }

        .title-iluminarias {
            padding-top: 5px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="title">Luminarias</h1>
        <div class="row chart-container d-flex w-100 ">
            <div class="chart card shadow-lg m-2">
                <canvas class="mx-2" id="statusChart"></canvas>
            </div>
            <div class="chart card  shadow-lg mt-2">
                <canvas id="typeChart"></canvas>
            </div>
        </div>

        <div class="d-flex gap-2 mt-3">
            <div class="card shadow   rounded mx-2" style="width: 200px;">
                <div class="card-body">
                    <h5 class="card-title">Activas</h5>
                    <p id="activeCount" class="text-font">0</p>
                </div>
            </div>
            <div class="card shadow rounded mx-2" style="width: 200px;">
                <div class="card-body">
                    <h5 class="card-title">No operativas</h5>
                    <p id="nonOperationalCount" class="text-font">0</p>
                </div>
            </div>
            <div class="card shadow rounded mx-2" style="width: 200px;">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Total Iluminarias</h5>
                    <p id="totalCount" class="text-font">0</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
       
            //const luminariasJson = {{ luminarias|safe }};
            const luminariasJson = JSON.parse('{{ luminarias|escapejs }}');

        
          
            // Calculate counts
            const activeCount = luminariasJson.filter(luminaria => luminaria.status === 'Operational').length;
            const nonOperationalCount = luminariasJson.filter(luminaria => luminaria.status === 'Non-operational').length;
            const totalCount = luminariasJson.length;

            // Update card values
            document.getElementById('activeCount').textContent = activeCount;
            document.getElementById('nonOperationalCount').textContent = nonOperationalCount;
            document.getElementById('totalCount').textContent = totalCount;

            // Prepare data for status chart
            const statusLabels = luminariasJson.map(luminaria => luminaria.intensity);
            const intensityData = luminariasJson.map(luminaria => parseFloat(luminaria.intensity));
            const intensityLabels = luminariasJson.map(luminaria => luminaria.intensity);
            const intensityCounts = intensityLabels.reduce((acc, intensity) => {
                acc[intensity] = (acc[intensity] || 0) + 1;
                return acc;
            }, {});

            const statusCounts = statusLabels.reduce((acc, status) => {
                acc[status] = (acc[status] || 0) + 1;
                return acc;
            }, {});

            // Create Status Chart
            const ctxStatus = document.getElementById('statusChart').getContext('2d');
            new Chart(ctxStatus, {
                type: 'pie',
                data: {
                    labels: Object.keys(intensityCounts),
                    datasets: [{
                        data: Object.values(intensityCounts),
                        backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc', 'Yellow', 'Green', 'Blue'],
                        hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf', 'Yellow', 'Green', 'Blue']
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                            labels: {
                                font: {
                                    size: 14
                                }
                            }
                        },
                        tooltip: {
                            callbacks: {
                                label: function (tooltipItem) {
                                    return tooltipItem.label + ': ' + tooltipItem.raw + ' luminarias';
                                }
                            }
                        },
                        title: {
                            display: true,
                            text: 'Intensidad Iluminarias'
                        }
                    }
                }
            });



            // Prepare data for type chart
            const typeLabels = luminariasJson.map(luminaria => luminaria.type);
            const typeCounts = typeLabels.reduce((acc, type) => {
                acc[type] = (acc[type] || 0) + 1;
                return acc;
            }, {});

            // Create Type Chart
            const ctxType = document.getElementById('typeChart').getContext('2d');
            new Chart(ctxType, {
                type: 'bar',
                data: {
                    labels: Object.keys(typeCounts),
                    datasets: [{
                        label: 'Número',
                        data: Object.values(typeCounts),
                        backgroundColor: 'rgba(54, 185, 204, 0.6)',
                        borderColor: 'rgba(153, 102, 255, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: 'Tipos de Iluminarias' // X-axis title
                            },

                        },
                        y: {
                            title: {
                                display: true,
                                text: 'Número' // Y-axis title
                            },
                            beginAtZero: true
                        }
                    },
                    plugins: {
                        legend: {
                            position: false
                        }
                    },
                }
            });
        });
    </script>
</body>

{% endblock %}