{% extends "dashboard.html" %}
{% load static %}
{% block content3 %}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0" />
    <title>Maps JavaScript API</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'libraries/markerclusterer/markerclusterer.js' %}"></script>
    <script src="{% static 'libraries/sweetalert2/sweetalert2.all.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'libraries/sweetalert2/sweetalert2.min.css' %}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}" />

    
</head>

<body>
    <div id="map"></div>
    <div class="floating_filter">
        <table cellpadding="5">
            <tr>
                <td><b>Zona: </b></td>
                <td>
                    <select name="zonas" id="zonas" onchange="moveToZone(this.value);">
                        <option value="0">&nbsp;</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><b>Barrios: </b></td>
                <td>
                    <select name="barrios" id="barrios" onchange="moveToNeighborhood(this.value)"></select>
                </td>
            </tr>

            <tr>
                <td><b>Nodo:</b></td>
                <td>
                    <input type="number" placeholder="Código de pintado" id="search_input" style="width: 172px"
                        value="" />
                    <button onclick="searchByPaintingCode($('#search_input').val())">
                        Buscar
                    </button>
                </td>
            </tr>
        </table>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/cluster-get.js' %}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpNUcNhqZnjirJ53TByxl6TJIjACDYXzE&callback=initMap&libraries=places&language=es&region=co"></script>
{% endblock %}
