{% extends "dashboard.html" %}
{% block content3 %}

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<div class="container">
    <h1>Lista de Usuarios</h1>
    {% if user.is_authenticated %}

    <table class="table table-striped" id="users-table">
        <thead>
            <tr>
                <th>Nombre de usuario</th>
                <th>Email</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha Creacion</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr id="user-{{ user.id }}">
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.first_name }} </td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.date_joined }}</td>
                <td>{{ user.grupo.name }}</td>
                <td>
                    <!-- Botón para abrir el modal de edición -->
                    <button class="btn btn-primary btn-sm" data-user-id="{{ user.id }}" data-toggle="modal"
                        data-target="#updateModal{{ user.id }}">Editar</button>
                    <!-- Botón de eliminación -->
                    <button class="btn btn-danger delete-button" data-user-id="{{ user.id }}" data-toggle="modal"
                        data-target="#deleteModal{{ user.id }}">Eliminar</button>
                </td>
            </tr>
            <!-- Modal de eliminación -->
            <div class="modal fade" id="deleteModal{{ user.id }}" tabindex="-1" role="dialog"
                aria-labelledby="deleteModalLabel{{ user.id }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel{{ user.id }}">Confirmar Eliminación</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ¿Estás seguro de que quieres eliminar al usuario {{ user.username }}?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-danger confirm-delete"
                                data-user-id="{{ user.id }}">Eliminar</button>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal de edición -->
            <div class="modal fade" id="updateModal{{ user.id }}" tabindex="-1" role="dialog"
                aria-labelledby="updateModalLabel{{ user.id }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="updateModalLabel{{ user.id }}">Actualizar Usuario</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Formulario de edición del usuario -->
                            <form id="updateForm{{ user.id }}" method="post"
                                action="{% url 'editar_usuario' user.id %}">
                                {% csrf_token %}
                                <label for="username">Nombre de usuario:</label><br>
                                <input type="text" id="username" name="username" value="{{ user.username }}"><br>
                                <label for="email">Email:</label><br>
                                <input type="email" id="email" name="email" value="{{ user.email }}"><br>
                                <label for="first_name">Nombre:</label><br>
                                <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}"><br>
                                <label for="last_name">Apellido:</label><br>
                                <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}"><br><br>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-danger confirm-update"
                                data-user-id="{{ user.id }}">Actualizar</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
   
    {% else %}
    <p>Debes estar logueado para ver esta página.</p>
    {% endif %}
</div>

<script>
    // Función para obtener el token CSRF
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    // Token CSRF
    const csrftoken = getCookie('csrftoken');

    $(document).ready(function () {
        $('.confirm-delete').click(function (event) {
            event.preventDefault();
            var userIdToDelete = $(this).data('user-id');
            var url = '/eliminar_usuario/' + userIdToDelete + '/';  // Construye la URL dinámica

            $.ajax({
                type: 'POST',
                url: url,
                headers: {
                    'X-CSRFToken': csrftoken
                },
                success: function (response) {
                    if (response.success) {
                        $('#user-' + userIdToDelete).remove();  // Elimina la fila de la tabla
                        $('#deleteModal' + userIdToDelete).modal('hide');
                        Swal.fire({
                            icon: 'success',
                            title: 'Éxito',
                            text: 'Usuario eliminado correctamente',
                            showConfirmButton: false,
                            timer: 2000
                        });  // Cierra el modal
                    } else {
                        alert('Error: No se pudo eliminar el usuario.');
                    }
                },
                error: function (xhr, errmsg, err) {
                    alert('Error: ' + errmsg);
                }
            });
        });
    });


    // Document ready
    $(document).ready(function () {
        // Manejo del evento click en el botón de actualización
        $('.confirm-update').click(function (event) {
            event.preventDefault();
            var userIdToUpdate = $(this).data('user-id');
            var formId = '#updateForm' + userIdToUpdate;  // Identificador del formulario dinámico
            var formData = $(formId).serialize();  // Obtener los datos del formulario

            $.ajax({
                type: 'POST',
                url: $(formId).attr('action'),
                data: formData,
                headers: {
                    'X-CSRFToken': csrftoken
                },
                success: function (response) {
                    if (response.success) {

                        $('#user-' + userIdToUpdate + ' td:eq(0)').text(response.updated_user_data.username);
                        $('#user-' + userIdToUpdate + ' td:eq(1)').text(response.updated_user_data.email);
                        $('#user-' + userIdToUpdate + ' td:eq(2)').text(response.updated_user_data.first_name);
                        $('#user-' + userIdToUpdate + ' td:eq(3)').text(response.updated_user_data.last_name);
                        $('#user-' + userIdToUpdate + ' td:eq(4)').text(response.updated_user_data.date_joined);

                        $('#updateModal' + userIdToUpdate).modal('hide');  // Cerrar el modal
                        Swal.fire({
                            icon: 'success',
                            title: 'Éxito',
                            text: 'Usuario actualizado correctamente',
                            showConfirmButton: false,
                            timer: 2000
                        });

                    } else {
                        alert('Error: ' + response.error);
                    }
                },
                error: function (xhr, errmsg, err) {
                    // Mostrar mensaje de error si hay un problema con la solicitud AJAX
                    alert('Error: ' + errmsg);
                }
            });
        });
    });
</script>

{% endblock %}