body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;

}

footer {
    margin-top: auto;
    display: table;
    width: 100%;
    height: 13vh;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.bg-custom {
    background-color: #fff;
}

.modal-backdrop {
    z-index: 0 !important;
}


/*notificaciones flotantes*/
.floating-notification {
    position: fixed !important;
    top: 20px !important;
    right: 20px !important;
    z-index: 1000 !important;
    display: none !important;
}

/*dashboard*/

a.btn.btn-success {
    background: #C82333 !important;
    border: #C82333;
}

.btn-info{
  background-color: #c82333!important;
  border-color: #c82333;
}
.btn-info_hover{
    background-color: #c83617!important;
    border-color: #c83617;
  }

b{
    color:#fff!important;
}

.floating_filter button{
    background: #1c7ea2;
    color: #fff;

    border: none;
    
}

/*login*/
img.logo.img-fluid {
    width: 45px;
    height: auto;
}

.navbar {
    min-height: 8vh;
    /* Asegura que la navbar ocupe toda la altura de la ventana */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.button-container {
    flex-grow: 1;
    /* Permite que el contenedor crezca para ocupar el espacio disponible */
}

.mb-2 {
    margin-bottom: -1.1rem !important;

}

.mt-auto {
    margin-top: 1.5% !important;
}

a.btn.btn-success.btn-custom.mb-2 {
    border-radius: 5px 5px 0 0;
    /* Remueve el borde inferior */
    width: 20%;
}

.btn-logout {
    display: none;
    /* Inicialmente oculto */
}

.user-container.active .btn-logout {
    display: inline-block;
    /* Mostrar cuando el contenedor tiene la clase 'active' */
}


/*menu lateral*/
.sidebar {
    position: fixed;
    top: 56px;
    /* Altura del navbar */
    bottom: 0;
    /* Dejar espacio para el footer */
    left: 0;
    width: 225px;
    /* Ancho del menú lateral */
    background-color: #f8f9fa;
    /* Color de fondo */
    padding-top: 20px;
    /* Espacio superior */
    padding-bottom: 20px;
    /* Espacio inferior */
    border-right: 1px solid #dee2e6;
    /* Borde derecho */
    overflow-y: auto;
    /* Agregar scroll si hay demasiados elementos */
}

.menu-item {
    padding: 10px 20px;
    /* Espaciado interno */
    border-bottom: 1px solid #dee2e6;
    /* Borde inferior */
}

.menu-item:last-child {
    border-bottom: none;
    /* Remover borde inferior del último elemento */
}

.logoEm {
    text-align: center;
    /* Alinear el texto al centro */
    position: absolute;
    /* Posición absoluta para que esté al final */
    bottom: 20px;
    /* Distancia desde abajo */
    left: 0;
    /* Alinear a la izquierda */
    right: 0;
    /* Alinear a la derecha */
}

.sidebar a.btn.btn-success.btn-block {
    background: #f8f9fa !important;
    color: #949090;
}


/*mapa*/
#map {
    height: 100%;
    height: 100vh;
}

.node-painting-code {
    bottom: 18px;
    left: 0;
    position: relative;
    background-color: black;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}



.floating_filter {
    position: absolute;
    top: 20px;
    right: 100px;
    background-color: #ffffff;
    background: rgba(0, 0, 0, 0.56);
    color: #ffffff;
    font-size: 12px;
}

.floating_filter table {
    border: 1px solid black;
    border-collapse: collapse
}

.floating_filter select {
    width: 180px
}

.swal2-popup {
    font-size: 8pt !important;
}

.sweet-alert {
    z-index: 2147483647;
}


/*index*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.input-field-coment .textarea{
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 200px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}
.contenedor {
    position: relative;
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
    overflow: hidden;
}

.forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.signin-signup {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

form.sign-up-form {
    opacity: 0;
    z-index: 1;
}

form.sign-in-form {
    z-index: 2;
}

.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.input-field {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}

.input-field-coment{
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 200px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}

.input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
}

.social-text {
    padding: 0.7rem 0;
    font-size: 1rem;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-icon {
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.45rem;
    color: #333;
    border-radius: 50%;
    border: 1px solid #333;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
}

.social-icon:hover {
    color: #FF5E47;
    border-color: #FF5E47;
}

.contenedor .btn {
    width: 150px;
    background-color: #FF5E47;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

.contenedor .btn:hover {
    background-color:#db4d39;
}

.panels-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contenedor:before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    background: linear-gradient(to bottom, #ff3300, #ff8080);
    transition: 1.8s ease-in-out;
    border-radius: 50%;
    z-index: 6;
}

.image {
    width: 100%;
    transition: transform 1.1s ease-in-out;
    transition-delay: 0.4s;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
}

.left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}

.right-panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}

.panel .content {
    color: #fff;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
}

.panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}

.panel p {
    font-size: 0.95rem;
    padding: 0.7rem 0;
}

.contenedor .btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
}

.right-panel .image,
.right-panel .content {
    transform: translateX(800px);
}

/* ANIMATION */

.contenedor.sign-up-mode:before {
    transform: translate(100%, -50%);
    right: 52%;
}

.contenedor.sign-up-mode .left-panel .image,
.contenedor.sign-up-mode .left-panel .content {
    transform: translateX(-800px);
}

.contenedor.sign-up-mode .signin-signup {
    left: 25%;
}

.contenedor.sign-up-mode form.sign-up-form {
    opacity: 1;
    z-index: 2;
}

.contenedor.sign-up-mode form.sign-in-form {
    opacity: 0;
    z-index: 1;
}

.contenedor.sign-up-mode .right-panel .image,
.contenedor.sign-up-mode .right-panel .content {
    transform: translateX(0%);
}

.contenedor.sign-up-mode .left-panel {
    pointer-events: none;
}

.contenedor.sign-up-mode .right-panel {
    pointer-events: all;
}

@media (max-width: 870px) {
    .contenedor {
        min-height: 800px;
        height: 100vh;
    }

    .signin-signup {
        width: 100%;
        top: 95%;
        transform: translate(-50%, -100%);
        transition: 1s 0.8s ease-in-out;
    }

    .signin-signup,
    .container.sign-up-mode .signin-signup {
        left: 50%;
    }

    .panels-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }

    .panel {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;
        grid-column: 1 / 2;
    }

    .right-panel {
        grid-row: 3 / 4;
    }

    .left-panel {
        grid-row: 1 / 2;
    }

    .image {
        width: 200px;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.6s;
    }

    .panel .content {
        padding-right: 15%;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.8s;
    }

    .panel h3 {
        font-size: 1.2rem;
    }

    .panel p {
        font-size: 0.7rem;
        padding: 0.5rem 0;
    }


    .contenedor:before {
        width: 1500px;
        height: 1500px;
        transform: translateX(-50%);
        left: 30%;
        bottom: 68%;
        right: initial;
        top: initial;
        transition: 2s ease-in-out;
    }

    .contenedor.sign-up-mode:before {
        transform: translate(-50%, 100%);
        bottom: 32%;
        right: initial;
    }

    .contenedor.sign-up-mode .left-panel .image,
    .contenedor.sign-up-mode .left-panel .content {
        transform: translateY(-300px);
    }

    .contenedor.sign-up-mode .right-panel .image,
    .contenedor.sign-up-mode .right-panel .content {
        transform: translateY(0px);
    }

    .right-panel .image,
    .right-panel .content {
        transform: translateY(300px);
    }

    .contenedor.sign-up-mode .signin-signup {
        top: 5%;
        transform: translate(-50%, 0);
    }
}

@media (max-width: 570px) {
    form {
        padding: 0 1.5rem;
    }

    .image {
        display: none;
    }

    .panel .content {
        padding: 0.5rem 1rem;
    }

    .contenedor {
        padding: 1.5rem;
    }

    .contenedor:before {
        bottom: 72%;
        left: 50%;
    }

    .contenedor.sign-up-mode:before {
        bottom: 28%;
        left: 50%;
    }
}

.modal-backdrop.show {
    opacity: 0.3!important;
    z-index: 1040 !important;
}


.wrap {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background: #fff;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    /* Oculto inicialmente */
}

.text {
    color: #fbae17;
    display: inline-block;
    margin-left: 5px;
}

.bounceball {
    position: relative;
    display: inline-block;
    height: 37px;
    width: 15px;
}

.bounceball:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fbae17;
    transform-origin: 50%;
    animation: bounce 500ms alternate infinite ease;
}

@keyframes bounce {
    0% {
        top: 30px;
        height: 5px;
        border-radius: 60px 60px 20px 20px;
        transform: scaleX(2);
    }

    35% {
        height: 15px;
        border-radius: 50%;
        transform: scaleX(1);
    }

    100% {
        top: 0;
    }
}

.loading {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
    height: 100vh;
}

.alert {
    transition: opacity 0.5s ease-out;
}


.btn-logout {
    position: absolute; /* Posición flotante */
    top: 70px; /* Ajusta este valor según sea necesario para la posición */
    right: 20px; /* Espacio desde el borde derecho */
    display: none; /* Oculta inicialmente el botón */
    opacity: 0; /* Comienza invisible */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transición suave */
}

/* Muestra el botón de Cerrar Sesión cuando el usuario está autenticado */
ul li:last-child {
    display: block; /* Asegúrate de que el botón esté en bloque */
}

/* Cuando el botón está visible */
.user-logged-in .btn-logout {
    display: block; /* Muestra el botón */
    opacity: 1; /* Lo hace visible */
    transform: translateY(0); /* Asegura que esté en su posición final */
}

/* Para la animación de deslizamiento */
.btn-logout.show {
    display: block; /* Asegura que esté en bloque para la animación */
    opacity: 1; /* Lo hace visible */
    transform: translateY(0); /* Desliza a su posición final */
}
